node_modules
**/*.cjs
**/*.d.ts
**/*.d.ts.map
**/*.bundle.js
**/*.js.map
adapter/**/*.js
core/**/*.js
merge/**/*.js
mods/**/*.js
full.min.js
test.js
ulog.js
ulog.min.js
ulog.min.js
ulog.lazy.min.js
.nyc_output
